backend/rest-services/course-service/src/main/mule/CourseService_openapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:email="http://www.mulesoft.org/schema/mule/email" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">
    <http:listener-config name="CourseService_openapi-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8082" />
    </http:listener-config>
    <apikit:config name="CourseService_openapi-config" api="CourseService_openapi.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <db:config name="Database_Config" doc:name="Database Config" doc:id="ce52e338-6417-4c78-92b0-f438f580c491" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="root" database="mtis" />
	</db:config>
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="209ca1e0-6bc2-4e15-88c5-4e9d17d0de07" >
		<wsc:connection wsdlLocation="http://localhost:8089/LegacyConnectorService/LegacyConnectorPort?wsdl" service="LegacyConnectorService" port="LegacyConnectorPort" address="http://localhost:8089/LegacyConnectorService/LegacyConnectorPort" />
	</wsc:config>
	<!-- ===================== MAIN ===================== -->
<wsc:config name="Web_Service_Consumer_Config1" doc:name="Web Service Consumer Config" doc:id="334a4ef1-833a-4e0e-8863-65d2dc6bb8c3" >
		<wsc:connection wsdlLocation="http://localhost:8089/LegacyConnectorService/LegacyConnectorPort?wsdl" service="LegacyConnectorService" port="LegacyConnectorPort" address="http://localhost:8089/LegacyConnectorService/LegacyConnectorPort" />
	</wsc:config>
	<flow name="CourseService_openapi-main"> <http:listener config-ref="CourseService_openapi-httpListenerConfig" path="/api/v1/*"> <http:response statusCode="#[vars.httpStatus default 200]"> <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers> </http:response> <http:error-response statusCode="#[vars.httpStatus default 500]"> <http:body><![CDATA[#[payload]]]></http:body> <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers> </http:error-response> </http:listener> <apikit:router config-ref="CourseService_openapi-config" /> <error-handler> <on-error-propagate type="APIKIT:BAD_REQUEST"> <ee:transform doc:name="Transform Message"> <ee:message> <ee:set-payload><![CDATA[%dw 2.0 output application/json --- {message: "Bad request"}]]></ee:set-payload> </ee:message> <ee:variables> <ee:set-variable variableName="httpStatus">400</ee:set-variable> </ee:variables> </ee:transform> </on-error-propagate> <on-error-propagate type="APIKIT:NOT_FOUND"> <ee:transform doc:name="Transform Message"> <ee:message> <ee:set-payload><![CDATA[%dw 2.0 output application/json --- {message: "Resource not found"}]]></ee:set-payload> </ee:message> <ee:variables> <ee:set-variable variableName="httpStatus">404</ee:set-variable> </ee:variables> </ee:transform> </on-error-propagate> <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED"> <ee:transform doc:name="Transform Message"> <ee:message> <ee:set-payload><![CDATA[%dw 2.0 output application/json --- {message: "Method not allowed"}]]></ee:set-payload> </ee:message> <ee:variables> <ee:set-variable variableName="httpStatus">405</ee:set-variable> </ee:variables> </ee:transform> </on-error-propagate> <on-error-propagate type="APIKIT:NOT_ACCEPTABLE"> <ee:transform doc:name="Transform Message"> <ee:message> <ee:set-payload><![CDATA[%dw 2.0 output application/json --- {message: "Not acceptable"}]]></ee:set-payload> </ee:message> <ee:variables> <ee:set-variable variableName="httpStatus">406</ee:set-variable> </ee:variables> </ee:transform> </on-error-propagate> <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE"> <ee:transform doc:name="Transform Message"> <ee:message> <ee:set-payload><![CDATA[%dw 2.0 output application/json --- {message: "Unsupported media type"}]]></ee:set-payload> </ee:message> <ee:variables> <ee:set-variable variableName="httpStatus">415</ee:set-variable> </ee:variables> </ee:transform> </on-error-propagate> <on-error-propagate type="APIKIT:NOT_IMPLEMENTED"> <ee:transform doc:name="Transform Message"> <ee:message> <ee:set-payload><![CDATA[%dw 2.0 output application/json --- {message: "Not Implemented"}]]></ee:set-payload> </ee:message> <ee:variables> <ee:set-variable variableName="httpStatus">501</ee:set-variable> </ee:variables> </ee:transform> </on-error-propagate> <on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="c1c3dc56-5160-480e-a546-c840d21d4cec" type="ANY:MULE" > <set-payload value="#[error.description]" doc:name="Set Payload" doc:id="ddee0449-34aa-404b-a740-0a5c5c7b0ace" /> </on-error-continue> </error-handler> </flow> <flow name="CourseService_openapi-console"> <http:listener config-ref="CourseService_openapi-httpListenerConfig" path="/console/*"> <http:response statusCode="#[vars.httpStatus default 200]"> <http:headers>#[vars.outboundHeaders default {}]</http:headers> </http:response> <http:error-response statusCode="#[vars.httpStatus default 500]"> <http:body>#[payload]</http:body> <http:headers>#[vars.outboundHeaders default {}]</http:headers> </http:error-response> </http:listener> <apikit:console config-ref="CourseService_openapi-config" /> <error-handler> <on-error-propagate type="APIKIT:NOT_FOUND"> <ee:transform doc:name="Transform Message"> <ee:message> <ee:set-payload><![CDATA[%dw 2.0 output application/json --- {message: "Resource not found"}]]></ee:set-payload> </ee:message> <ee:variables> <ee:set-variable variableName="httpStatus">404</ee:set-variable> </ee:variables> </ee:transform> </on-error-propagate> </error-handler> </flow>

<!-- ===================== GET ALL ===================== -->
<sub-flow name="rest_key">

    <db:select config-ref="Database_Config">
        <db:sql><![CDATA[
            SELECT * FROM restkey WHERE rest_key = :rest_key;
        ]]></db:sql>

        <db:input-parameters><![CDATA[#[{
            rest_key: vars.rest_key
        }]]]></db:input-parameters>
    </db:select>

    <choice>
        <when expression="#[isEmpty(payload)]">
            <raise-error type="ANY:MULE" description="401 UNAUTHORIZED" />
        </when>
    </choice>

</sub-flow>
	<flow name="get:\courses:CourseService_openapi-config">

    <set-variable variableName="rest_key" value="#[attributes.headers.rest_key]"/>

    <flow-ref name="rest_key"/>

    <set-variable variableName="active" value="#[attributes.queryParams.active default true]"/>
    <set-variable variableName="page" value="#[attributes.queryParams.page default 1]"/>
    <set-variable variableName="size" value="#[attributes.queryParams.size default 20]"/>
    <set-variable variableName="category" value="#[attributes.queryParams.category]"/>
    <set-variable variableName="instructorId" value="#[attributes.queryParams.instructorId]"/>

    <db:select config-ref="Database_Config">
        <db:sql><![CDATA[
            SELECT * FROM courses;
        ]]></db:sql>
    </db:select>

    <ee:transform>
        <ee:message>
            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  status: "200 OK",
  data: payload,
  filters: {
    active: vars.active,
    page: vars.page,
    size: vars.size,
    category: vars.category,
    instructorId: vars.instructorId
  }
}]]></ee:set-payload>
        </ee:message>
    </ee:transform>

</flow>

<!-- ===================== GET BY ID ===================== -->
	<flow name="get:\courses\(courseId):CourseService_openapi-config">

    <!-- 🔥 TODO EN VARIABLES -->
    <set-variable variableName="courseId" value="#[attributes.uriParams.courseId]"/>
    <set-variable variableName="rest_key" value="#[attributes.headers.rest_key]"/>

    <flow-ref name="rest_key"/>

    <logger level="INFO"
            message="#[{ courseId: vars.courseId }]"/>

    <db:select config-ref="Database_Config">
        <db:sql><![CDATA[
            SELECT * FROM courses WHERE id = :id;
        ]]></db:sql>

        <db:input-parameters><![CDATA[#[{
            id: vars.courseId
        }]]]></db:input-parameters>
    </db:select>

    <choice>
        <when expression="#[isEmpty(payload)]">
            <raise-error type="ANY:MULE" description="404 - NOT FOUND"/>
        </when>
    </choice>

    <ee:transform>
        <ee:message>
            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  status: "200 OK - CURSO ENCONTRADO",
  curso: payload
}]]></ee:set-payload>
        </ee:message>
    </ee:transform>

</flow>

<!-- ===================== DELETE ===================== -->
	<flow name="delete:\courses\(courseId):CourseService_openapi-config">

    <set-variable variableName="courseId" value="#[attributes.uriParams.courseId]"/>
    <set-variable variableName="rest_key" value="#[attributes.headers.rest_key]"/>

    <flow-ref name="rest_key"/>

    <db:delete config-ref="Database_Config">
        <db:sql><![CDATA[
            DELETE FROM courses WHERE id = :id;
        ]]></db:sql>

        <db:input-parameters><![CDATA[#[{
            id: vars.courseId
        }]]]></db:input-parameters>
    </db:delete>

    <choice>
        <when expression="#[payload == 0]">
            <raise-error type="ANY:MULE" description="404 - NOT FOUND"/>
        </when>
    </choice>

    <ee:transform>
        <ee:message>
            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  status: "200 OK - CURSO ELIMINADO"
}]]></ee:set-payload>
        </ee:message>
    </ee:transform>

</flow>

<!-- ===================== PUT ===================== -->
	<flow name="put:\courses\(courseId):application\json:CourseService_openapi-config">

    <set-variable variableName="courseId" value="#[attributes.uriParams.courseId]"/>
    <set-variable variableName="rest_key" value="#[attributes.headers.rest_key]"/>

    <!-- BODY COMPLETO EN VARIABLES -->
    <set-variable variableName="title" value="#[payload.title]"/>
    <set-variable variableName="description" value="#[payload.description]"/>
    <set-variable variableName="category" value="#[payload.category]"/>
    <set-variable variableName="durationHours" value="#[payload.durationHours]"/>
    <set-variable variableName="price" value="#[payload.price]"/>
    <set-variable variableName="active" value="#[payload.active]"/>
    <set-variable variableName="legacyContentId" value="#[payload.legacyContentId]"/>

    <flow-ref name="rest_key"/>

    <db:update config-ref="Database_Config">
        <db:sql><![CDATA[
            UPDATE courses
            SET title = :title,
                description = :description,
                category = :category,
                duration_hours = :duration_hours,
                price = :price,
                active = :active,
                external_content_id = :legacy_content_id,
                updated_at = NOW()
            WHERE id = :id
        ]]></db:sql>

        <db:input-parameters><![CDATA[#[{
            id: vars.courseId,
            title: vars.title,
            description: vars.description,
            category: vars.category,
            duration_hours: vars.durationHours,
            price: vars.price,
            active: vars.active,
            legacy_content_id: vars.legacyContentId
        }]]]></db:input-parameters>
    </db:update>

    <ee:transform>
        <ee:message>
            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  status: "200 OK - CURSO ACTUALIZADO"
}]]></ee:set-payload>
        </ee:message>
    </ee:transform>

</flow>
	<flow name="post:\courses:application\json:CourseService_openapi-config">

    <!-- HEADERS -->
    <set-variable variableName="rest_key" value="#[attributes.headers.rest_key]"/>

    <!-- BODY → VARIABLES -->
    <set-variable variableName="courseId" value="#[uuid()]"/>
    <set-variable variableName="title" value="#[payload.title]"/>
    <set-variable variableName="description" value="#[payload.description]"/>
    <set-variable variableName="category" value="#[payload.category]"/>
    <set-variable variableName="durationHours" value="#[payload.durationHours]"/>
    <set-variable variableName="price" value="#[payload.price]"/>
    <set-variable variableName="currency" value="#[payload.currency default 'EUR']"/>
    <set-variable variableName="legacyContentId" value="#[payload.legacyContentId]"/>

    <!-- VALIDACIÓN REST KEY -->
    <set-variable value="#[payload.instructorId]" doc:name="Set Variable" doc:id="dae0796e-53f1-4fdb-9c78-5eec244eefad" variableName="instructor_id"/>
		<set-variable value="#[payload.instructorName]" doc:name="Set Variable" doc:id="b27b0585-0064-44ec-b818-6e4b8cac82ab" variableName="instructor_name"/>
		<flow-ref name="rest_key"/>

    <!-- INSERT -->
    <db:insert config-ref="Database_Config">
        <db:sql><![CDATA[
            INSERT INTO courses (
                id,
                title,
                description,
                instructor_id,
                instructor_name,
                category,
                duration_hours,
                price,
                currency,
                active,
                created_at,
                external_content_id
            )
            VALUES (
                :id,
                :title,
                :description,
                :instructorId,
                :instructorName,
                :category,
                :durationHours,
                :price,
                :currency,
                :active,
                NOW(),
                :externalContentId
            )
        ]]></db:sql>

        <db:input-parameters><![CDATA[#[{
            id: vars.courseId,
            title: vars.title,
            description: vars.description,
            instructorId: vars.instructor_id,
            instructorName: vars.instructor_name,
            category: vars.category,
            durationHours: vars.durationHours,
            price: vars.price,
            currency: vars.currency,
            active: true,
            externalContentId: vars.legacyContentId
        }]]]></db:input-parameters>
    </db:insert>

    <!-- RESPONSE -->
    <ee:transform>
        <ee:message>
            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    status: "201 OK - CURSO CREADO",
    id: vars.courseId
}]]></ee:set-payload>
        </ee:message>
    </ee:transform>

</flow>
	<flow name="post:\courses\sync:application\json:CourseService_openapi-config">

    <!-- HEADERS -->

    <!-- QUERY PARAMS -->

    <!-- VALIDACIÓN REST KEY -->
    <set-variable value="#[attributes.headers.rest_key]" doc:name="Set Variable" doc:id="8fb32e29-7893-4828-8b0b-a11d04c0da12" variableName="rest_key"/>
		<set-variable value="#[payload.sourceSystem]" doc:name="Set Variable" doc:id="03baddf4-aaae-4230-9251-907be5583cfa" variableName="source"/>
		<set-variable value="#[payload.catalogId]" doc:name="Set Variable" doc:id="8c310fbe-39df-44b3-a99d-bae86b7ee1b7" variableName="catalog"/>
		<set-variable value="#[payload.modifiedSince]" doc:name="Set Variable" doc:id="4714a64d-bfd0-41a5-8cd1-60e48e1ac9a3" variableName="date"/>
		<flow-ref name="rest_key"/>

    <!-- REQUEST SOAP -->
    <ee:transform>
        <ee:message>
            <ee:set-payload><![CDATA[%dw 2.0
output application/xml
ns ns0 http://mtis.ua.es/elearning/legacy
---
{
  ns0#getExternalContentsRequest: {
    sourceSystem: vars.source,
    catalogId: vars.catalog default null,
    modifiedSince: vars.date default null
  }
}]]></ee:set-payload>
        </ee:message>
    </ee:transform>
		<wsc:consume config-ref="Web_Service_Consumer_Config1"
                 operation="getExternalContents"/>

    <!-- PROCESS RESPONSE -->
    <logger level="INFO" doc:name="Logger" doc:id="21e7d2f1-7a10-4a1e-bde3-6011fcaee4e4" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="1d44b396-01be-4552-be20-b46fb5567ab3" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
ns ns0 http://mtis.ua.es/elearning/legacy
---
payload.body.ns0#ObtenerContenidosExternosResponse.*ns0#contents map (item) -> {
    externalContentId: item.ns0#externalContentId,
    title: item.ns0#title,
    description: item.ns0#description,
    category: item.ns0#category,
    lastModified: item.ns0#lastModified,
    checksum: item.ns0#checksum
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>

    <logger level="INFO" doc:name="Logger" doc:id="7de884fe-b19b-47a4-9c73-5924504017b4" message="#[payload]"/>
		<foreach collection="#[payload]">

        <db:insert doc:name="Insert" doc:id="24f9601d-1d0b-4a22-9d7a-6c83183604c1" config-ref="Database_Config">
				<db:sql ><![CDATA[
                INSERT INTO courses (
                    id,
                    title,
                    description,
                    instructor_id,
                    instructor_name,
                    category,
                    duration_hours,
                    price,
                    currency,
                    active,
                    created_at,
                    external_content_id,
                    external_last_modified,
                    external_checksum
                )
                VALUES (
                    :id,
                    :title,
                    :description,
                    :instructorId,
                    :instructorName,
                    :category,
                    :durationHours,
                    :price,
                    :currency,
                    :active,
                    NOW(),
                    :externalContentId,
                    :externalLastModified,
                    :externalChecksum
                )
                ON DUPLICATE KEY UPDATE
                    title = VALUES(title),
                    description = VALUES(description),
                    instructor_id = VALUES(instructor_id),
                    instructor_name = VALUES(instructor_name),
                    category = VALUES(category),
                    duration_hours = VALUES(duration_hours),
                    price = VALUES(price),
                    currency = VALUES(currency),
                    active = VALUES(active),
                    external_last_modified = VALUES(external_last_modified),
                    external_checksum = VALUES(external_checksum)
            ]]></db:sql>
				<db:input-parameters ><![CDATA[#[{
                id: uuid(),
                title: payload.title,
                description: payload.description,
                instructorId: "uuid",
                instructorName: "Legacy",
                category: payload.category,
                durationHours: payload.durationHours default 0,
                price: 0,
                currency: "EUR",
                active: true,
                externalContentId: payload.externalContentId,
                externalLastModified: payload.lastModified,
                externalChecksum: payload.checksum
            }]]]></db:input-parameters>
			</db:insert></foreach>

    <!-- RESPONSE -->
		<logger level="INFO" doc:name="Logger" doc:id="8a764da6-f872-46f5-bad1-b0ee723b1845" message="#[vars.catalog]"/>
		<ee:transform doc:name="Transform Message" doc:id="a3599d2e-0124-4f77-a0df-fa3c21ead84e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://mtis.ua.es/elearning/legacy
---
{
  ns0#synchronizedContentsRequest: {
    sourceSystem: vars.source,
    catalogId: vars.catalog,
    requestedBy: "E-learning",
    requestId: uuid()
  }
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="synchronizeContents" doc:name="Consume" doc:id="38af65a6-ae37-47d0-a285-4e9388aa51ac" config-ref="Web_Service_Consumer_Config1"/>
		<ee:transform doc:name="Transform Message" doc:id="56ba4b88-d301-494d-8475-484d53bdafd8" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
ns ns0 http://mtis.ua.es/elearning/legacy
---
{
    syncId: payload.body.ns0#SincronizarDatosRepositorioResponse.ns0#syncId,
    status: payload.body.ns0#SincronizarDatosRepositorioResponse.ns0#status,
    processedItems: payload.body.ns0#SincronizarDatosRepositorioResponse.ns0#processedItems,
    updatedItems: payload.body.ns0#SincronizarDatosRepositorioResponse.ns0#updatedItems,
    failedItems: payload.body.ns0#SincronizarDatosRepositorioResponse.ns0#failedItems,
    startedAt: payload.body.ns0#SincronizarDatosRepositorioResponse.ns0#startedAt,
    finishedAt: payload.body.ns0#SincronizarDatosRepositorioResponse.ns0#finishedAt,
    message: payload.body.ns0#SincronizarDatosRepositorioResponse.ns0#message
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform>
        <ee:message>
            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    status: "201 OK - SYNC COMPLETED",
    sync: payload
}]]></ee:set-payload>
        </ee:message>
    </ee:transform>

</flow>
</mule>