backend/esb-orchestrations/flujo-emision-cert-REST/src/main/mule/orchestration-rest-certificate.xml
<?xml version="1.0" encoding="UTF-8"?>
<!--
  ============================================================================
  ESB Orchestration: Emisión de Certificado (REST)
  ============================================================================
  Cumple el requisito 4.b del enunciado oficial:
    "mínimo 1 flujo REST orquestado mediante un ESB"

  Endpoint REST:  POST http://localhost:8092/esb/issue-certificate

  Patrón: Saga por orquestación (sección 7.2.2 de la memoria).

  SECUENCIA:
    1. Obtener nota final     → EvaluationService    (REST, 8084 — Marcos)
    2. Validar elegibilidad   (en el ESB)
    3. Generar certificado    → CertificateService   (SOAP, 8087 — Erardo)
    4. Notificar al usuario   → EmailNotificationService (REST, 8085 — Mo)

  Demuestra "uso combinado de servicios SOAP y REST en una misma orquestación"
  (apartado 7.3.2 de la memoria, párrafo final).
  ============================================================================
-->
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core
        http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/ee/core
        http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
        http://www.mulesoft.org/schema/mule/http
        http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

    <http:listener-config name="ESB_REST_Listener" doc:id="esb-rest-listener">
        <http:listener-connection host="0.0.0.0" port="8092"/>
    </http:listener-config>

    <!-- Cliente hacia EvaluationService (mock o real en 8084) -->
    <http:request-config name="ESB_To_Evaluation" doc:id="esb-to-eval">
        <http:request-connection host="localhost" port="8084"/>
    </http:request-config>

    <!-- Cliente hacia CertificateService SOAP (Erardo, 8087) -->
    <http:request-config name="ESB_To_Certificate" doc:id="esb-to-cert">
        <http:request-connection host="localhost" port="8087"/>
    </http:request-config>

    <!-- Cliente hacia EmailNotificationService (Mo, 8085) -->
    <http:request-config name="ESB_To_Email_Cert" doc:id="esb-to-email-cert">
        <http:request-connection host="localhost" port="8085"/>
    </http:request-config>

    <!--
      ========================================================================
      FLOW PRINCIPAL
      ========================================================================
    -->
    <flow name="esb-certificate-orchestration-main" doc:id="esb-cert-main">
        <http:listener config-ref="ESB_REST_Listener"
                       path="/esb/issue-certificate"
                       allowedMethods="POST"
                       doc:name="POST /esb/issue-certificate">
            <http:response statusCode="200">
                <http:headers><![CDATA[#[output application/java
                                       --- { "Content-Type": "application/json" }]]]></http:headers>
            </http:response>
            <http:error-response statusCode="500">
                <http:body><![CDATA[#[vars.faultPayload default payload]]]></http:body>
                <http:headers><![CDATA[#[output application/java
                                       --- { "Content-Type": "application/json" }]]]></http:headers>
            </http:error-response>
        </http:listener>

        <!-- 1. Parsear JSON entrada + generar correlationId -->
        <ee:transform doc:name="Parse + correlationId">
            <ee:variables>
                <ee:set-variable variableName="req"><![CDATA[%dw 2.0
output application/java
---
{
  studentId:    (payload.studentId)    as String,
  courseId:     (payload.courseId)     as String,
  enrollmentId: (payload.enrollmentId) as String
}]]></ee:set-variable>
                <ee:set-variable variableName="correlationId"><![CDATA[%dw 2.0
output application/java
import * from dw::Runtime
---
"ESB-CERT-" ++ uuid()[0 to 7]]]></ee:set-variable>
                <ee:set-variable variableName="steps"><![CDATA[%dw 2.0
output application/java
---
[]]]></ee:set-variable>
            </ee:variables>
        </ee:transform>

        <logger level="INFO"
                message='#["[ESB-Cert][" ++ vars.correlationId ++ "] START student=" ++ vars.req.studentId
                          ++ " course=" ++ vars.req.courseId ++ " enrollment=" ++ vars.req.enrollmentId]'/>

        <!-- 2. Obtener nota final del estudiante -->
        <flow-ref name="esb-cert-step-get-grade"/>

        <!-- 3. Validar elegibilidad (regla de negocio del ESB) -->
        <flow-ref name="esb-cert-step-check-eligibility"/>

        <!-- 4. Generar certificado SOAP -->
        <flow-ref name="esb-cert-step-generate-certificate"/>

        <!-- 5. Notificar al usuario (best-effort) -->
        <flow-ref name="esb-cert-step-notify"/>

        <!-- 6. Construir respuesta JSON -->
        <ee:transform doc:name="Build JSON response">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  correlationId: vars.correlationId,
  certificateId: vars.certificateId,
  studentId:     vars.req.studentId,
  courseId:      vars.req.courseId,
  finalGrade:    vars.finalGrade,
  status:        vars.certStatus,
  steps:         vars.steps
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>

        <logger level="INFO"
                message='#["[ESB-Cert][" ++ vars.correlationId ++ "] COMPLETED status=" ++ vars.certStatus]'/>

        <error-handler>
            <on-error-continue type="ANY">
                <flow-ref name="esb-cert-fault-handler"/>
            </on-error-continue>
        </error-handler>
    </flow>

    <!--
      ========================================================================
      PASO 1: Obtener nota final (REST → EvaluationService)
      ========================================================================
    -->
    <sub-flow name="esb-cert-step-get-grade">
        <logger level="INFO"
                message='#["[ESB-Cert][" ++ vars.correlationId ++ "] Step 1: get grade"]'/>
        <try doc:name="Get grade (tolerant if EvaluationService missing)">
            <http:request method="GET"
                          path='#["/api/v1/evaluations/" ++ vars.req.enrollmentId ++ "/grade"]'
                          config-ref="ESB_To_Evaluation"
                          doc:name="GET /evaluations/{id}/grade"/>
            <ee:transform doc:name="Extract grade">
                <ee:variables>
                    <ee:set-variable variableName="finalGrade"><![CDATA[%dw 2.0
output application/java
---
(payload.score) as Number]]></ee:set-variable>
                    <ee:set-variable variableName="passed"><![CDATA[%dw 2.0
output application/java
---
(payload.passed default (((payload.score default 0) as Number) >= 5.0)) as Boolean]]></ee:set-variable>
                    <ee:set-variable variableName="steps"><![CDATA[%dw 2.0
output application/java
---
vars.steps ++ ["grade-obtained"]]]></ee:set-variable>
                </ee:variables>
            </ee:transform>
            <error-handler>
                <!--
                  Fallback: si EvaluationService no responde (Marcos aún no lo ha
                  entregado), asumimos una nota de prueba 8.5 para no romper la
                  demo. Documentar en la memoria como decisión de tolerancia a
                  fallos del ESB (sección 7.2.4).
                -->
                <on-error-continue type="HTTP:CONNECTIVITY, HTTP:NOT_FOUND, ANY">
                    <logger level="WARN"
                            message='#["[ESB-Cert][" ++ vars.correlationId ++ "] EvaluationService no disponible — usando nota de fallback 8.5"]'/>
                    <ee:transform>
                        <ee:variables>
                            <ee:set-variable variableName="finalGrade"><![CDATA[%dw 2.0
output application/java
---
8.5]]></ee:set-variable>
                            <ee:set-variable variableName="passed"><![CDATA[%dw 2.0
output application/java
---
true]]></ee:set-variable>
                            <ee:set-variable variableName="steps"><![CDATA[%dw 2.0
output application/java
---
vars.steps ++ ["grade-fallback-used"]]]></ee:set-variable>
                        </ee:variables>
                    </ee:transform>
                </on-error-continue>
            </error-handler>
        </try>
    </sub-flow>

    <!--
      ========================================================================
      PASO 2: Verificar elegibilidad (lógica de proceso del ESB)
      ========================================================================
    -->
    <sub-flow name="esb-cert-step-check-eligibility">
        <choice doc:name="Eligible for certificate?">
            <when expression="#[!(vars.passed default false)]">
                <set-variable variableName="certStatus" value="NOT_ELIGIBLE"/>
                <set-variable variableName="certificateId" value="#[null]"/>
                <ee:transform>
                    <ee:variables>
                        <ee:set-variable variableName="steps"><![CDATA[%dw 2.0
output application/java
---
vars.steps ++ ["eligibility-rejected"]]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
                <logger level="WARN"
                        message='#["[ESB-Cert][" ++ vars.correlationId ++ "] No elegible (nota=" ++ (vars.finalGrade as String) ++ ")"]'/>
                <!--
                  Cortocircuito: salimos del flow principal sin invocar SOAP,
                  porque ya sabemos que no hay certificado. La respuesta JSON
                  llevará status=NOT_ELIGIBLE.
                -->
                <raise-error type="APP:NOT_ELIGIBLE"
                             description="#['Final grade ' ++ (vars.finalGrade as String) ++ ' below passing threshold (5.0)']"/>
            </when>
            <otherwise>
                <ee:transform>
                    <ee:variables>
                        <ee:set-variable variableName="steps"><![CDATA[%dw 2.0
output application/java
---
vars.steps ++ ["eligibility-passed"]]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </otherwise>
        </choice>
    </sub-flow>

    <!--
      ========================================================================
      PASO 3: Generar certificado (SOAP → CertificateService de Erardo)
      ========================================================================
    -->
    <sub-flow name="esb-cert-step-generate-certificate">
        <logger level="INFO"
                message='#["[ESB-Cert][" ++ vars.correlationId ++ "] Step 3: generateCertificate"]'/>
        <ee:transform doc:name="Build SOAP generateCertificate">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/xml
ns soap http://schemas.xmlsoap.org/soap/envelope/
ns cer http://mtis.ua.es/elearning/certificates
---
{
  soap#Envelope: {
    soap#Body: {
      cer#generateCertificateRequest: {
        cer#studentId:      vars.req.studentId,
        cer#courseId:       vars.req.courseId,
        cer#finalGrade:     vars.finalGrade,
        cer#completionDate: now() as String { format: "yyyy-MM-dd" },
        cer#requestId:      vars.correlationId
      }
    }
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <http:request method="POST"
                      path="/services/CertificateService"
                      config-ref="ESB_To_Certificate"
                      doc:name="POST generateCertificate">
            <http:headers><![CDATA[#[{
                "Content-Type": "text/xml; charset=UTF-8",
                "SOAPAction":   "http://mtis.ua.es/elearning/certificates/generateCertificate"
            }]]]></http:headers>
        </http:request>
        <ee:transform doc:name="Extract certificateId + status">
            <ee:variables>
                <ee:set-variable variableName="certificateId"><![CDATA[%dw 2.0
output application/java
ns soap http://schemas.xmlsoap.org/soap/envelope/
ns cer http://mtis.ua.es/elearning/certificates
---
(payload.soap#Envelope.soap#Body.cer#generateCertificateResponse.cer#certificateId) as String]]></ee:set-variable>
                <ee:set-variable variableName="certStatus"><![CDATA[%dw 2.0
output application/java
ns soap http://schemas.xmlsoap.org/soap/envelope/
ns cer http://mtis.ua.es/elearning/certificates
---
(payload.soap#Envelope.soap#Body.cer#generateCertificateResponse.cer#status) as String]]></ee:set-variable>
                <ee:set-variable variableName="steps"><![CDATA[%dw 2.0
output application/java
---
vars.steps ++ ["certificate-generated"]]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
    </sub-flow>

    <!--
      ========================================================================
      PASO 4: Notificar al usuario (REST, best-effort)
      ========================================================================
    -->
    <sub-flow name="esb-cert-step-notify">
        <logger level="INFO"
                message='#["[ESB-Cert][" ++ vars.correlationId ++ "] Step 4: notify user"]'/>
        <try doc:name="Notify (best-effort)">
            <ee:transform doc:name="Build certificate notification">
                <ee:message>
                    <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  userId:        vars.req.studentId,
  certificateId: vars.certificateId,
  email:         vars.req.studentId ++ "@alu.ua.es"
}]]></ee:set-payload>
                </ee:message>
            </ee:transform>
            <http:request method="POST"
                          path="/api/v1/notifications/certificate"
                          config-ref="ESB_To_Email_Cert"
                          doc:name="POST /notifications/certificate">
                <http:headers><![CDATA[#[{"Content-Type": "application/json"}]]]></http:headers>
            </http:request>
            <ee:transform>
                <ee:variables>
                    <ee:set-variable variableName="steps"><![CDATA[%dw 2.0
output application/java
---
vars.steps ++ ["user-notified"]]]></ee:set-variable>
                </ee:variables>
            </ee:transform>
            <error-handler>
                <on-error-continue type="ANY">
                    <logger level="WARN" message='#["[ESB-Cert][" ++ vars.correlationId ++ "] Notification failed (non-blocking)"]'/>
                </on-error-continue>
            </error-handler>
        </try>
    </sub-flow>

    <!--
      ========================================================================
      FLOW DE MANEJO DE ERRORES
      ========================================================================
    -->
    <sub-flow name="esb-cert-fault-handler">
        <choice>
            <when expression='#[(error.errorType.identifier default "") == "NOT_ELIGIBLE"]'>
                <!-- Cortocircuito controlado: no es un error, es resultado de negocio -->
                <ee:transform doc:name="NOT_ELIGIBLE response">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  correlationId: vars.correlationId,
  studentId:     vars.req.studentId,
  courseId:      vars.req.courseId,
  finalGrade:    vars.finalGrade,
  status:        "NOT_ELIGIBLE",
  message:       error.description default "Student not eligible for certification",
  steps:         vars.steps
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </when>
            <otherwise>
                <logger level="ERROR"
                        message='#["[ESB-Cert][" ++ (vars.correlationId default "?") ++ "] FAILED: " ++ (error.description default "?")]'/>
                <ee:transform doc:name="Build error JSON">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  correlationId: vars.correlationId default "?",
  status:        "FAILED",
  error: {
    code:    "ORCHESTRATION_ERROR",
    message: error.description default "Unexpected error in certificate orchestration",
    detail:  error.errorType.identifier default ""
  },
  steps: vars.steps default []
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
                <set-variable variableName="faultPayload" value="#[payload]"/>
            </otherwise>
        </choice>
    </sub-flow>

</mule>
