backend/rest-services/enrollment-service/src/main/mule/EnrollmentService.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
    <http:listener-config name="EnrollmentService-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8083" />
    </http:listener-config>
    <apikit:config name="EnrollmentService-config" api="EnrollmentService.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <db:config name="Database_Config" doc:name="Database Config" doc:id="69e85dbb-4c9b-4fcb-a027-db58746d5fce" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="root" database="mtis" />
	</db:config>
	<flow name="EnrollmentService-main">
        <http:listener config-ref="EnrollmentService-httpListenerConfig" path="/api/v1/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="EnrollmentService-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="615b2001-6e49-4149-9de4-32898e0acf7a" type="ANY:MULE" >
				<set-payload value="#[error.description]" doc:name="Set Payload" doc:id="75560a6a-7f17-410a-b358-5d1c742580aa" />
			</on-error-continue>
        </error-handler>
    </flow>
	<flow name="EnrollmentService-console">
        <http:listener config-ref="EnrollmentService-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="EnrollmentService-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <sub-flow name="rest_key" doc:id="7c14b3ea-f854-45c0-96b3-af4fbda1e9bd" >
		<db:select doc:name="Select" doc:id="30904431-edb3-47ff-bc58-e799919a1823" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT * FROM restkey WHERE rest_key = :rest_key;]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	rest_key: vars.rest_key
}]]]></db:input-parameters>
		</db:select>
		<choice doc:name="Choice" doc:id="c050215f-197c-4b65-bc3e-c81139628179" >
			<when expression="#[isEmpty(payload)]">
				<raise-error doc:name="Raise error" doc:id="554d3460-bc7b-4c8b-b438-35925c7cb80e" type="ANY:MULE" description="401 UNAUTHORIZED"/>
			</when>
		</choice>
	</sub-flow>
	<flow name="delete:\enrollments\(enrollmentId):EnrollmentService-config">
        <set-variable value="#[attributes.headers.rest_key]" doc:name="Set Variable" doc:id="b3c51026-18b4-4297-9a9a-ef4b542e9ecc" variableName="rest_key"/>
		<set-variable value="#[attributes.uriParams.enrollmentId]" doc:name="Set Variable" doc:id="73344cc2-12cb-43c1-bf10-7b9d37bc1683" variableName="id"/>
		<flow-ref doc:name="Flow Reference" doc:id="2ae3800a-0fc9-4da5-991a-654a888fa2a3" name="rest_key"/>
		<db:delete doc:name="Delete" doc:id="e706420e-ffac-411a-b4c7-9b39ce7b9706" config-ref="Database_Config">
			<db:sql ><![CDATA[DELETE FROM enrollments
WHERE id = :id;]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	id: vars.id
}]]]></db:input-parameters>
		</db:delete>
		<choice doc:name="Choice" doc:id="fb866aab-40ee-4e32-8eaf-abe20d76a38d" >
			<when expression="#[payload == 0]" >
				<raise-error doc:name="Raise error" doc:id="97d61648-e0c0-4d45-a64f-995ffae4f898" type="ANY:MULE" description="404 - NOT FOUND" />
			</when>
		</choice>
		<ee:transform doc:name="Transform Message" doc:id="ab016984-7f77-43de-baca-e540b8d181aa" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	status: "200 OK - MATRÍCULA ELIMINADA",
	payload: payload
	
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
    <flow name="get:\enrollments\(enrollmentId):EnrollmentService-config">
        <set-variable value="#[attributes.headers.rest_key]" doc:name="Set Variable" doc:id="5c1d61d1-4554-4d24-a927-0e2bba23e2ca" variableName="rest_key" />
		<set-variable value="#[attributes.uriParams.enrollmentId]" doc:name="Set Variable1" doc:id="fb676101-abec-45c7-b113-4af3edf609dc" variableName="id" />
		<flow-ref doc:name="Flow Reference" doc:id="c3470698-f5a4-4220-a9cd-a7749159e976" name="rest_key" />
		<db:select doc:name="Select" doc:id="9c917acb-d975-4204-8b53-798e87ca87c7" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT * FROM enrollments
WHERE id = :id;]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	id: vars.id
}]]]></db:input-parameters>
		</db:select>
		<choice doc:name="Choice" doc:id="1d06204b-6309-47c8-a2d6-3eccc0de98f0" >
			<when expression="#[isEmpty(payload)]" >
				<raise-error doc:name="Raise error" doc:id="d84327b8-5259-4983-ab7f-441be84b9b5a" type="ANY:MULE" description="404 - NOT FOUND" />
			</when>
		</choice>
		<ee:transform doc:name="Transform Message" doc:id="8f1d867b-6480-4f6a-b4f8-208ea858f48d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	
	status: '200 OK - MARTÍCULA ENCONTRADA',
	curso: payload
	
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
    <flow name="post:\enrollments:application\json:EnrollmentService-config">
		<set-variable value="#[attributes.headers.rest_key]" doc:name="Set Variable" doc:id="125728c8-9bf5-404b-a350-56cddac3afb9" variableName="rest_key" />
		<set-variable value="#[payload.userId]" doc:name="Set Variable" doc:id="dfb8ac6d-5834-4a2e-9966-d4c4a13c2b23" variableName="userId"/>
		<set-variable value="#[payload.courseId]" doc:name="Set Variable" doc:id="b0f4b17d-62c2-4598-a003-7f2924fa1cf6" variableName="courseId"/>
		<set-variable value="#[uuid()]" doc:name="Set Variable" doc:id="24635ff4-253b-44ce-a41e-298f161bb6b9" variableName="id"/>
		<flow-ref doc:name="Flow Reference" doc:id="8256e567-911b-410a-920c-f66c81b11961" name="rest_key" />
		<try doc:name="Try" doc:id="cdd4c5b0-c960-48eb-9fda-3e2330f99642" >
			<db:insert doc:name="Insert" doc:id="f995cd1a-96ed-437c-a4f7-bc6060892805" config-ref="Database_Config">
			<db:sql><![CDATA[INSERT INTO enrollments
            (id, user_id, course_id, enrollment_date, status)
            VALUES
            (:id, :userId, :courseId, NOW(), 'ACTIVE')]]></db:sql>
			<db:input-parameters><![CDATA[#[{
	id: vars.id,
    userId: vars.userId,
    courseId: vars.courseId
}]]]></db:input-parameters>
		</db:insert>
			<error-handler >
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="e7caa847-54ad-409e-a255-3f34c7e44a45" >
					<raise-error doc:name="Raise error" doc:id="16664e96-5728-4250-bed9-f55a3c816270" type="ANY:MULE" description="422 - Unprocessable Entity"/>
				</on-error-continue>
			</error-handler>
		</try>
		<ee:transform doc:name="Transform Message" doc:id="c103416a-7cc7-4b92-bde0-69978d3c4a4b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	response: {
		status: '201 OK - MATRICULACIÓN CREADA',
		id: vars.id
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
</mule>
