backend/rest-services/emailnotificationservice/src/main/mule/emailnotificationservice.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
      xmlns:db="http://www.mulesoft.org/schema/mule/db"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns:email="http://www.mulesoft.org/schema/mule/email"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
        http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd
        http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
        http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
        http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd">

    <!-- ==================== CONFIGURACIÓN GLOBAL ==================== -->

    <http:listener-config name="EmailNotificationService-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8085" />
    </http:listener-config>

    <apikit:config name="EmailNotificationService-config"
                   api="EmailNotificationService.raml"
                   outboundHeadersMapName="outboundHeaders"
                   httpStatusVarName="httpStatus" />

    <!-- Base de datos MySQL -->
    <db:config name="Database_Config" doc:name="Database Config">
        <db:my-sql-connection
            host="localhost"
            port="3306"
            user="root"
            password="root"
            database="mtis" />
    </db:config>

    <!-- SMTP FakeSMTP -->
    <email:smtp-config name="SMTP_Config" doc:name="SMTP Config">
        <email:smtp-connection host="localhost" port="2525" />
    </email:smtp-config>

    <!-- ==================== FLUJO PRINCIPAL ==================== -->

    <flow name="EmailNotificationService-main">
        <http:listener config-ref="EmailNotificationService-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="EmailNotificationService-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{ok: false, message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{ok: false, message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{ok: false, message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{ok: false, message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{ok: false, message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{ok: false, message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>

    <!-- Consola APIKit -->
    <flow name="EmailNotificationService-console">
        <http:listener config-ref="EmailNotificationService-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="EmailNotificationService-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{ok: false, message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>

    <!-- ==================== POST /notifications/email ==================== -->
    <flow name="post:\notifications\email:application\json:EmailNotificationService-config">
        <!-- Guardar body antes de todo -->
        <ee:transform doc:name="Guardar body">
            <ee:variables>
                <ee:set-variable variableName="body"><![CDATA[%dw 2.0
output application/java
---
{
    to: payload.to,
    subject: payload.subject,
    body: payload.body
}]]></ee:set-variable>
                <ee:set-variable variableName="logId"><![CDATA[%dw 2.0
output application/java
---
java!java::util::UUID::randomUUID() as String]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <!-- Enviar email via SMTP -->
        <email:send config-ref="SMTP_Config" doc:name="Enviar email"
                    subject="#[vars.body.subject]"
                    fromAddress="noreply@elearning.ua.es">
            <email:to-addresses>
                <email:to-address value="#[vars.body.to]" />
            </email:to-addresses>
            <email:body>
                <email:content>#[vars.body.body]</email:content>
            </email:body>
        </email:send>
        <!-- Registrar en email_log -->
        <db:insert doc:name="Registrar en email_log" config-ref="Database_Config">
            <db:sql><![CDATA[INSERT INTO email_log (id, recipient_email, subject, body, notification_type, status, sent_at, created_at)
                VALUES (:id, :to, :subject, :body, 'OTHER', 'SENT', NOW(), NOW())]]></db:sql>
            <db:input-parameters><![CDATA[#[{
                'id': vars.logId,
                'to': vars.body.to,
                'subject': vars.body.subject,
                'body': vars.body.body
            }]]]></db:input-parameters>
        </db:insert>
        <!-- Respuesta -->
        <ee:transform doc:name="Respuesta OK">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    ok: true,
    message: "Email enviado correctamente",
    timestamp: now() as String
}]]></ee:set-payload>
            </ee:message>
            <ee:variables>
                <ee:set-variable variableName="httpStatus">200</ee:set-variable>
            </ee:variables>
        </ee:transform>
    </flow>

    <!-- ==================== POST /notifications/enrollment ==================== -->
    <flow name="post:\notifications\enrollment:application\json:EmailNotificationService-config">
        <ee:transform doc:name="Guardar body">
            <ee:variables>
                <ee:set-variable variableName="body"><![CDATA[%dw 2.0
output application/java
---
{
    userId: payload.userId,
    courseId: payload.courseId,
    email: payload.email
}]]></ee:set-variable>
                <ee:set-variable variableName="logId"><![CDATA[%dw 2.0
output application/java
---
java!java::util::UUID::randomUUID() as String]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <!-- Enviar email de matrícula -->
        <email:send config-ref="SMTP_Config" doc:name="Enviar notificación matrícula"
                    subject="Confirmación de matrícula"
                    fromAddress="noreply@elearning.ua.es">
            <email:to-addresses>
                <email:to-address value="#[vars.body.email]" />
            </email:to-addresses>
            <email:body>
                <email:content>#["Te has matriculado correctamente en el curso " ++ vars.body.courseId ++ ". ¡Bienvenido!"]</email:content>
            </email:body>
        </email:send>
        <!-- Registrar en email_log -->
        <db:insert doc:name="Registrar en email_log" config-ref="Database_Config">
            <db:sql><![CDATA[INSERT INTO email_log (id, recipient_email, subject, body, notification_type, status, related_user_id, sent_at, created_at)
                VALUES (:id, :email, 'Confirmación de matrícula', :body, 'ENROLLMENT', 'SENT', :userId, NOW(), NOW())]]></db:sql>
            <db:input-parameters><![CDATA[#[{
                'id': vars.logId,
                'email': vars.body.email,
                'body': 'Matriculado en curso: ' ++ vars.body.courseId,
                'userId': vars.body.userId
            }]]]></db:input-parameters>
        </db:insert>
        <ee:transform doc:name="Respuesta OK">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    ok: true,
    message: "Notificación de matrícula enviada correctamente",
    timestamp: now() as String
}]]></ee:set-payload>
            </ee:message>
            <ee:variables>
                <ee:set-variable variableName="httpStatus">200</ee:set-variable>
            </ee:variables>
        </ee:transform>
    </flow>

    <!-- ==================== POST /notifications/certificate ==================== -->
    <flow name="post:\notifications\certificate:application\json:EmailNotificationService-config">
        <ee:transform doc:name="Guardar body">
            <ee:variables>
                <ee:set-variable variableName="body"><![CDATA[%dw 2.0
output application/java
---
{
    userId: payload.userId,
    certificateId: payload.certificateId,
    email: payload.email
}]]></ee:set-variable>
                <ee:set-variable variableName="logId"><![CDATA[%dw 2.0
output application/java
---
java!java::util::UUID::randomUUID() as String]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <!-- Enviar email de certificado -->
        <email:send config-ref="SMTP_Config" doc:name="Enviar notificación certificado"
                    subject="Tu certificado está disponible"
                    fromAddress="noreply@elearning.ua.es">
            <email:to-addresses>
                <email:to-address value="#[vars.body.email]" />
            </email:to-addresses>
            <email:body>
                <email:content>#["Tu certificado con ID " ++ vars.body.certificateId ++ " está disponible. ¡Enhorabuena!"]</email:content>
            </email:body>
        </email:send>
        <!-- Registrar en email_log -->
        <db:insert doc:name="Registrar en email_log" config-ref="Database_Config">
            <db:sql><![CDATA[INSERT INTO email_log (id, recipient_email, subject, body, notification_type, status, related_user_id, sent_at, created_at)
                VALUES (:id, :email, 'Tu certificado está disponible', :body, 'CERTIFICATE', 'SENT', :userId, NOW(), NOW())]]></db:sql>
            <db:input-parameters><![CDATA[#[{
                'id': vars.logId,
                'email': vars.body.email,
                'body': 'Certificado disponible: ' ++ vars.body.certificateId,
                'userId': vars.body.userId
            }]]]></db:input-parameters>
        </db:insert>
        <ee:transform doc:name="Respuesta OK">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    ok: true,
    message: "Notificación de certificado enviada correctamente",
    timestamp: now() as String
}]]></ee:set-payload>
            </ee:message>
            <ee:variables>
                <ee:set-variable variableName="httpStatus">200</ee:set-variable>
            </ee:variables>
        </ee:transform>
    </flow>

</mule>