backend/rest-services/financial-gateway-service/financial-gateway-service.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

	<!-- ================= GLOBAL CONFIG ================= -->

	<validation:config name="Validation_Config"/>

	<configuration-properties file="config/application.properties"/>

	<http:listener-config name="HTTP_Listener_config">
		<http:listener-connection host="${http.host}" port="${http.port}"/>
	</http:listener-config>

	<db:config name="Database_Config">
		<db:my-sql-connection host="${db.host}"
			port="${db.port}"
			user="${db.user}"
			password="${db.password}"
			database="${db.name}"/>
	</db:config>

	<!-- ================= ERROR HANDLER ================= -->

	<error-handler name="global-error-handler">

		<on-error-propagate type="HTTP:NOT_FOUND">

			<set-payload value="#[%dw 2.0
output application/json
---
{
  message: error.description default 'No encontrado'
}]"/>

		</on-error-propagate>

		<on-error-propagate type="ANY">

			<logger level="ERROR" message="#[error.description]"/>

			<set-payload value="#[%dw 2.0
output application/json
---
{
  error: (error.errorType.namespace default '') ++ ':' ++ (error.errorType.identifier default ''),
  message: error.description default 'Error interno'
}]"/>

		</on-error-propagate>

	</error-handler>

	<!-- ================= API KEY VALIDATION ================= -->

	<sub-flow name="validate-api-key-subflow">

		<set-variable variableName="savedPayload" value="#[payload]"/>
		<set-variable variableName="apiKey"
			value="#[attributes.queryParams.rest_key]"/>

		<choice>

			<when expression="#[isEmpty(vars.apiKey)]">
				<validation:is-true expression="#[false]"
					message="Falta cabecera X-API-Key"
					config-ref="Validation_Config"/>
			</when>

			<otherwise>

				<db:select config-ref="Database_Config">
					<db:sql><![CDATA[SELECT COUNT(*) AS c FROM restkey WHERE rest_key = :k]]></db:sql>
					<db:input-parameters><![CDATA[#[{ k: vars.apiKey }]]]></db:input-parameters>
				</db:select>

				<choice>
					<when expression="#[((payload default [{}])[0].c default 0) &gt; 0]">
						<logger level="DEBUG" message="API Key valida"/>
					</when>

					<otherwise>
						<validation:is-true expression="#[false]"
							message="API Key no autorizada"
							config-ref="Validation_Config"/>
					</otherwise>
				</choice>

			</otherwise>

		</choice>

		<set-payload value="#[vars.savedPayload]"/>

	</sub-flow>

	<!-- ================= PROCESS PAYMENT ================= -->

	<flow name="post-payments-process-flow">

		<http:listener config-ref="HTTP_Listener_config"
			path="/api/payments/process"
			allowedMethods="POST"/>

		<logger level="INFO" doc:name="Logger" doc:id="93f150fd-c09d-4615-9a10-7c4334b93dfe" message="#[attributes]"/>
		<flow-ref name="validate-api-key-subflow"/>

		<set-variable variableName="pay" value="#[payload]"/>

		<validation:is-true expression="#[not isEmpty(vars.pay.userId)]"
			message="userId obligatorio"/>

		<validation:is-true expression="#[vars.pay.amount != null and (vars.pay.amount as Number) &gt;= 0]"
			message="amount obligatorio y no negativo"/>

		<set-variable variableName="pid"
			value="#[if (isEmpty(vars.pay.paymentId)) uuid() else vars.pay.paymentId as String]"/>

		<set-variable variableName="paymentAmount"
			value="#[(vars.pay.amount default 0) as Number]"/>

		<set-variable variableName="paymentCurrency"
			value="#[(vars.pay.currency default 'EUR')]"/>

		<set-variable variableName="transactionId"
			value="#[vars.pay.transactionId default ('TXN-' ++ ((vars.pid as String) replace '-' with ''))]"/>

		<db:insert config-ref="Database_Config">
			<db:sql><![CDATA[
INSERT INTO payments (id, user_id, course_id, amount, currency, status, external_ref)
VALUES (:id, :uid, :cid, :amount, :cur, 'PENDING', :eref)
			]]></db:sql>

			<db:input-parameters><![CDATA[#[{
  id: vars.pid,
  uid: vars.pay.userId,
  cid: if (isEmpty(vars.pay.courseId)) null else vars.pay.courseId,
  amount: vars.paymentAmount,
  cur: vars.paymentCurrency,
  eref: vars.transactionId
}]]]></db:input-parameters>
		</db:insert>

		<set-payload value="#[%dw 2.0
output application/json
---
{
  paymentId: vars.pid,
  transactionId: vars.transactionId,
  status: 'PENDING',
  timestamp: (now() as String { format: 'yyyy-MM-dd\'T\'HH:mm:ss' })
}]"/>

	</flow>

	<!-- ================= CONFIRM PAYMENT ================= -->

	<flow name="post-payments-confirm-flow">

		<http:listener config-ref="HTTP_Listener_config"
			path="/api/payments/confirm"
			allowedMethods="POST"/>

		<flow-ref name="validate-api-key-subflow"/>

		<set-variable variableName="req" value="#[payload]"/>

		<validation:is-true expression="#[not isEmpty(vars.req.paymentId)]"
			message="paymentId obligatorio"/>

		<db:select config-ref="Database_Config">
			<db:sql><![CDATA[
SELECT id, user_id, course_id, amount, currency, status, external_ref
FROM payments
WHERE id=:id AND status='PENDING'
			]]></db:sql>

			<db:input-parameters><![CDATA[#[{ id: vars.req.paymentId }]]]></db:input-parameters>
		</db:select>

		<validation:is-true expression="#[sizeOf(payload default []) &gt; 0]"
			message="Pago no encontrado o no pendiente"/>

		<set-variable variableName="payment" value="#[payload[0]]"/>

		<logger level="INFO" doc:name="Logger" doc:id="c605dd16-b80c-4a3a-8d4f-7279b50727c9" message="#[payload[0]]"/>
		<logger level="INFO" doc:name="Logger" doc:id="4df5d226-b8df-4382-9c22-efa9a3fd7484" message="#[(vars.req.transactionId) as String]"/>
		<set-variable value="#[vars.payment.external_ref default '']" doc:name="Set Variable" doc:id="39390ec0-b98f-44d2-a4f3-90b5b2a75773" variableName="external_id"/>
		<logger level="INFO" doc:name="Logger" doc:id="524c6f73-220d-4d0a-ac88-41ece889deef" message="#[vars.external_id]"/>
		<choice>
			<when expression="#[isEmpty(vars.req.transactionId) and (vars.req.transactionId as String)  != (vars.payment.external_ref as String)]">
				<validation:is-true expression="#[false]"
					message="transactionId no coincide"/>
			</when>
		</choice>

		<db:update config-ref="Database_Config">
			<db:sql><![CDATA[
UPDATE payments
SET status='CONFIRMED', updated_at=NOW()
WHERE id=:id AND status='PENDING'
			]]></db:sql>

			<db:input-parameters><![CDATA[#[{ id: vars.payment.id }]]]></db:input-parameters>
		</db:update>

		<set-payload value="#[%dw 2.0
output application/json
---
{
  paymentId: vars.payment.id,
  transactionId: vars.payment.external_ref,
  status: 'CONFIRMED',
  timestamp: (now() as String { format: 'yyyy-MM-dd\'T\'HH:mm:ss' })
}]"/>

	</flow>

	<!-- ================= CANCEL PAYMENT ================= -->

	<flow name="post-payments-cancel-flow">

		<http:listener config-ref="HTTP_Listener_config"
			path="/api/payments/cancel"
			allowedMethods="POST"/>

		<flow-ref name="validate-api-key-subflow"/>

		<set-variable variableName="req" value="#[payload]"/>

		<validation:is-true expression="#[not isEmpty(vars.req.paymentId)]"
			message="paymentId obligatorio"/>

		<db:select config-ref="Database_Config">
			<db:sql><![CDATA[
SELECT id, user_id, course_id, amount, currency, status, external_ref
FROM payments
WHERE id=:id
			]]></db:sql>

			<db:input-parameters><![CDATA[#[{ id: vars.req.paymentId }]]]></db:input-parameters>
		</db:select>

		<validation:is-true expression="#[sizeOf(payload default []) &gt; 0]"
			message="Pago no encontrado"/>

		<set-variable variableName="payment" value="#[payload[0]]"/>

		<db:update config-ref="Database_Config">
			<db:sql><![CDATA[
UPDATE payments
SET status='CANCELLED', updated_at=NOW()
WHERE id=:id
			]]></db:sql>

			<db:input-parameters><![CDATA[#[{ id: vars.payment.id }]]]></db:input-parameters>
		</db:update>

		<set-payload value="#[%dw 2.0
output application/json
---
{
  paymentId: vars.payment.id,
  transactionId: vars.payment.external_ref,
  status: 'CANCELLED',
  timestamp: (now() as String { format: 'yyyy-MM-dd\'T\'HH:mm:ss' })
}]"/>

	</flow>

</mule>