backend/rest-services/_mocks/mock-enrollment-service/src/main/mule/mock-enrollment-service.xml
<?xml version="1.0" encoding="UTF-8"?>
<!--
  ============================================================================
  MOCK EnrollmentService — para pruebas mientras Joaco entrega el real.
  Simula POST/GET/DELETE de matrículas. Puerto: 3003.
  ============================================================================
-->
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core
        http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/ee/core
        http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
        http://www.mulesoft.org/schema/mule/http
        http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

    <http:listener-config name="HTTP_Listener_Enrollment">
        <http:listener-connection host="0.0.0.0" port="8083"/>
    </http:listener-config>

    <!-- POST /api/v1/enrollments -->
    <flow name="mock-enrollments-create">
        <http:listener config-ref="HTTP_Listener_Enrollment"
                       path="/api/v1/enrollments" allowedMethods="POST">
            <http:response statusCode="201"/>
        </http:listener>
        <logger level="INFO" message='#["[MOCK EnrollmentService] POST /enrollments " ++ write(payload, "application/json")]'/>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
import * from dw::Runtime
---
{
  enrollmentId:   "ENR-" ++ (uuid()[0 to 7]),
  userId:         payload.userId,
  courseId:       payload.courseId,
  enrollmentDate: now() as String,
  status:         "ACTIVE"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>

    <!-- GET /api/v1/enrollments/{enrollmentId} -->
    <flow name="mock-enrollments-get">
        <http:listener config-ref="HTTP_Listener_Enrollment"
                       path="/api/v1/enrollments/{enrollmentId}" allowedMethods="GET"/>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  enrollmentId:   attributes.uriParams.enrollmentId,
  userId:         "STU-0042",
  courseId:       "COURSE-MTIS-2026",
  enrollmentDate: "2026-05-14T10:00:00Z",
  status:         "ACTIVE"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>

    <!-- DELETE /api/v1/enrollments/{enrollmentId} -->
    <flow name="mock-enrollments-cancel">
        <http:listener config-ref="HTTP_Listener_Enrollment"
                       path="/api/v1/enrollments/{enrollmentId}" allowedMethods="DELETE">
            <http:response statusCode="200"/>
        </http:listener>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{ enrollmentId: attributes.uriParams.enrollmentId, status: "CANCELLED" }]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>

</mule>
