backend/dev-bundle/src/main/mule/api-gateway.xml
<?xml version="1.0" encoding="UTF-8"?>
<!--
  ============================================================================
  API Gateway REST/JSON para el Frontend
  ============================================================================
  Objetivo: exponer una API REST/JSON uniforme con CORS habilitado para que
  el cliente web (frontend) no tenga que lidiar con SOAP envelopes ni con
  problemas de CORS de cada servicio individual.

  Puerto: 8094.

  Endpoints expuestos:
    GET    /api/health                       — ping
    POST   /api/login                        — login (mock)
    GET    /api/courses                      — listado de cursos
    GET    /api/courses/{courseId}           — detalle de curso
    POST   /api/buy-course                   — invoca ESB SOAP de Compra
    GET    /api/certificates/{certificateId} — consulta certificado
    POST   /api/issue-certificate            — invoca ESB REST Emisión
    OPTIONS /api/*                           — CORS preflight

  Todos los responses incluyen las cabeceras CORS necesarias para que el
  navegador acepte las llamadas desde http://localhost:5173 o file://.
  ============================================================================
-->
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core
        http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/ee/core
        http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
        http://www.mulesoft.org/schema/mule/http
        http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

    <http:listener-config name="API_Gateway_Listener">
        <http:listener-connection host="0.0.0.0" port="8094"/>
    </http:listener-config>

    <!-- Cliente HTTP genérico que reutilizamos para invocar a servicios locales -->
    <http:request-config name="Gateway_Client_Course">
        <http:request-connection host="localhost" port="8082"/>
    </http:request-config>
    <http:request-config name="Gateway_Client_Cert">
        <http:request-connection host="localhost" port="8087"/>
    </http:request-config>
    <http:request-config name="Gateway_Client_ESB_SOAP">
        <http:request-connection host="localhost" port="8091"/>
    </http:request-config>
    <http:request-config name="Gateway_Client_ESB_REST">
        <http:request-connection host="localhost" port="8092"/>
    </http:request-config>

    <!-- Clientes hacia el resto de servicios del equipo (para el Explorador de Servicios) -->
    <http:request-config name="Gateway_Client_User">
        <http:request-connection host="localhost" port="8081"/>
    </http:request-config>
    <http:request-config name="Gateway_Client_Enrollment">
        <http:request-connection host="localhost" port="8083"/>
    </http:request-config>
    <http:request-config name="Gateway_Client_Evaluation">
        <http:request-connection host="localhost" port="8084"/>
    </http:request-config>
    <http:request-config name="Gateway_Client_Email">
        <http:request-connection host="localhost" port="8085"/>
    </http:request-config>
    <http:request-config name="Gateway_Client_Payment">
        <http:request-connection host="localhost" port="8086"/>
    </http:request-config>
    <http:request-config name="Gateway_Client_Purchase">
        <http:request-connection host="localhost" port="8088"/>
    </http:request-config>
    <http:request-config name="Gateway_Client_Legacy">
        <http:request-connection host="localhost" port="8089"/>
    </http:request-config>
    <http:request-config name="Gateway_Client_UserProcess">
        <http:request-connection host="localhost" port="8090"/>
    </http:request-config>

    <!--
      ========================================================================
      CORS preflight: responde a TODOS los OPTIONS con 204 y las cabeceras
      necesarias. Sin esto el navegador bloquea las llamadas POST con JSON.
      ========================================================================
    -->
    <flow name="api-cors-preflight">
    <http:listener config-ref="API_Gateway_Listener"
                   path="/api/*"
                   allowedMethods="OPTIONS">

        <http:response statusCode="204">
            <http:headers><![CDATA[#[{
                "Access-Control-Allow-Origin": "*",
                "Access-Control-Allow-Methods": "GET, POST, PUT, DELETE, OPTIONS",
                "Access-Control-Allow-Headers": "Content-Type, Authorization, rest_key, WSKey"
            }]]]></http:headers>
        </http:response>

    </http:listener>

    <logger level="INFO" doc:name="Logger" doc:id="2cb20315-d000-4010-936e-b31a3de713e6" message="#[attributes.headers.rest_key]"/>
		<set-payload value="#[payload]"/>
</flow>
    <!--
      ========================================================================
      GET /api/health — health check
      ========================================================================
    -->
    <flow name="api-health">
        <http:listener config-ref="API_Gateway_Listener" path="/api/health" allowedMethods="GET">
            <http:response statusCode="200">
                <http:headers><![CDATA[#[output application/java
---
{ "Content-Type": "application/json", "Access-Control-Allow-Origin": "*" }]]]></http:headers>
            </http:response>
        </http:listener>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  status: "ok",
  service: "api-gateway",
  timestamp: now() as String,
  upstreamPorts: {
    mockCourseService:           8082,
    mockEnrollmentService:       8083,
    mockEmailNotification:       8085,
    mockFinancialGateway:        8086,
    certificateService:          8087,
    coursePurchaseProcessService: 8088,
    esbSoapPurchase:             8091,
    esbRestCertificate:          8092
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>

    <!--
      ========================================================================
      POST /api/login — login mock (cualquier usuario/password vale)
      ========================================================================
    -->
    <flow name="api-login">
        <http:listener config-ref="API_Gateway_Listener" path="/api/login" allowedMethods="POST">
            <http:response statusCode="200">
                <http:headers><![CDATA[#[output application/java
---
{ "Content-Type": "application/json", "Access-Control-Allow-Origin": "*" }]]]></http:headers>
            </http:response>
        </http:listener>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
import * from dw::Runtime
---
{
  userId:   (payload.username default "STU-0042") as String,
  email:    ((payload.username default "STU-0042") as String) ++ "@alu.ua.es",
  token:    "JWT-FAKE-" ++ uuid()[0 to 11],
  role:     "STUDENT",
  loggedAt: now() as String
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>

    <!--
      ========================================================================
      GET /api/courses — lista de cursos (proxy a mock/CourseService)
      ========================================================================
    -->
    <flow name="api-list-courses">
        <http:listener config-ref="API_Gateway_Listener" path="/api/courses" allowedMethods="GET">
            <http:response statusCode="200">
                <http:headers><![CDATA[#[output application/java
---
{ "Content-Type": "application/json", "Access-Control-Allow-Origin": "*" }]]]></http:headers>
            </http:response>
        </http:listener>
        <logger level="INFO" doc:name="Logger" doc:id="aabc4e66-2bd2-4eeb-ab84-6b5e01ee87d3" message="1"/>
		<http:request method="GET" path="/api/v1/courses" config-ref="Gateway_Client_Course">
			<http:headers ><![CDATA[#[output application/java
---
{
	rest_key : attributes.headers.rest_key
}]]]></http:headers>
		</http:request>
        <error-handler>
            <on-error-continue type="ANY">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  data: [
    { id: "COURSE-MTIS-2026",  title: "Integración de Sistemas Software", price: 49.99, currency: "EUR", active: true, instructorName: "Prof. García",  category: "Ingeniería del Software", durationHours: 60 },
    { id: "COURSE-WEB-2026",   title: "Desarrollo Web Avanzado",          price: 39.99, currency: "EUR", active: true, instructorName: "Prof. López",   category: "Desarrollo",              durationHours: 50 },
    { id: "COURSE-CLOUD-2026", title: "Cloud Computing",                  price: 59.99, currency: "EUR", active: true, instructorName: "Prof. Hernández", category: "Sistemas",              durationHours: 70 }
  ],
  total: 3,
  source: "fallback-gateway"
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </on-error-continue>
        </error-handler>
    </flow>

    <!--
      ========================================================================
      GET /api/courses/{courseId} — detalle de curso
      ========================================================================
    -->
    <flow name="api-get-course">
        <http:listener config-ref="API_Gateway_Listener" path="/api/courses/{courseId}" allowedMethods="GET">
            <http:response statusCode="200">
                <http:headers><![CDATA[#[output application/java
---
{ "Content-Type": "application/json", "Access-Control-Allow-Origin": "*" }]]]></http:headers>
            </http:response>
        </http:listener>
        <set-variable variableName="courseId" value="#[attributes.uriParams.courseId]"/>
        <http:request method="GET"
                      path='#["/api/v1/courses/" ++ vars.courseId]'
                      config-ref="Gateway_Client_Course"/>
        <error-handler>
            <on-error-continue type="ANY">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  id: vars.courseId,
  title: "Integración de Sistemas Software",
  description: "Curso completo sobre SOA, servicios web y BPM",
  instructorName: "Prof. García",
  category: "Ingeniería del Software",
  durationHours: 60,
  price: 49.99,
  currency: "EUR",
  active: true,
  source: "fallback-gateway"
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </on-error-continue>
        </error-handler>
    </flow>

    <!--
      ========================================================================
      POST /api/buy-course — invoca la orquestación ESB SOAP de Compra
      Recibe JSON, traduce a SOAP envelope, llama a 8091, parsea respuesta.
      ========================================================================
    -->
    <flow name="api-buy-course">
        <http:listener config-ref="API_Gateway_Listener" path="/api/buy-course" allowedMethods="POST">
            <http:response statusCode="200">
                <http:headers><![CDATA[#[output application/java
---
{ "Content-Type": "application/json", "Access-Control-Allow-Origin": "*" }]]]></http:headers>
            </http:response>
            <http:error-response statusCode="500">
                <http:body><![CDATA[#[vars.errorPayload default payload]]]></http:body>
                <http:headers><![CDATA[#[output application/java
---
{ "Content-Type": "application/json", "Access-Control-Allow-Origin": "*" }]]]></http:headers>
            </http:error-response>
        </http:listener>

        <set-variable variableName="frontendReq" value="#[payload]"/>

        <!-- 1. Construir SOAP envelope para la orquestación ESB -->
        <ee:transform doc:name="JSON → SOAP envelope">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/xml
ns soap http://schemas.xmlsoap.org/soap/envelope/
ns esb http://mtis.ua.es/elearning/esb
---
{
  soap#Envelope: {
    soap#Body: {
      esb#orchestratePurchaseRequest: {
        esb#userId:        vars.frontendReq.userId,
        esb#courseId:      vars.frontendReq.courseId,
        esb#paymentMethod: vars.frontendReq.paymentMethod default "CARD"
      }
    }
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>

        <!-- 2. Llamar a la orquestación ESB SOAP -->
        <http:request method="POST"
                      path="/esb/services/PurchaseOrchestration"
                      config-ref="Gateway_Client_ESB_SOAP"
                      doc:name="POST ESB SOAP 8091">
            <http:headers><![CDATA[#[{
                "Content-Type": "text/xml; charset=UTF-8",
                "SOAPAction":   "http://mtis.ua.es/elearning/esb/orchestratePurchase"
            }]]]></http:headers>
        </http:request>

        <!-- 3. SOAP response → JSON limpio para el frontend -->
        <ee:transform doc:name="SOAP → JSON">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
ns soap http://schemas.xmlsoap.org/soap/envelope/
ns esb http://mtis.ua.es/elearning/esb
var body = payload.soap#Envelope.soap#Body
---
if (body.esb#orchestratePurchaseResponse != null)
{
  correlationId: body.esb#orchestratePurchaseResponse.esb#correlationId as String,
  purchaseId:    body.esb#orchestratePurchaseResponse.esb#purchaseId    as String,
  transactionId: body.esb#orchestratePurchaseResponse.esb#transactionId as String,
  enrollmentId:  body.esb#orchestratePurchaseResponse.esb#enrollmentId  as String,
  status:        body.esb#orchestratePurchaseResponse.esb#status        as String,
  steps:         (body.esb#orchestratePurchaseResponse.esb#steps.*esb#step) map ((s) -> s as String)
}
else
{
  status:  "FAILED",
  message: (body.soap#Fault.faultstring default "Unknown error") as String,
  detail:  body.soap#Fault.detail
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>

        <error-handler>
            <on-error-continue type="ANY">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  status:  "GATEWAY_ERROR",
  message: error.description default "Error desconocido en gateway",
  detail:  error.errorType.identifier default ""
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
                <set-variable variableName="errorPayload" value="#[payload]"/>
            </on-error-continue>
        </error-handler>
    </flow>

    <!--
      ========================================================================
      POST /api/issue-certificate — invoca la orquestación ESB REST
      Es prácticamente un proxy: el ESB REST ya devuelve JSON.
      ========================================================================
    -->
    <flow name="api-issue-certificate">
        <http:listener config-ref="API_Gateway_Listener" path="/api/issue-certificate" allowedMethods="POST">
            <http:response statusCode="200">
                <http:headers><![CDATA[#[output application/java
---
{ "Content-Type": "application/json", "Access-Control-Allow-Origin": "*" }]]]></http:headers>
            </http:response>
        </http:listener>
        <http:request method="POST"
                      path="/esb/issue-certificate"
                      config-ref="Gateway_Client_ESB_REST"
                      doc:name="POST ESB REST 8092">
            <http:headers><![CDATA[#[{"Content-Type": "application/json"}]]]></http:headers>
        </http:request>
        <error-handler>
            <on-error-continue type="ANY">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  status: "GATEWAY_ERROR",
  message: error.description default "?"
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </on-error-continue>
        </error-handler>
    </flow>

    <!--
      ========================================================================
      GET /api/certificates/{certificateId} — consulta certificado via SOAP
      Llama internamente al CertificateService SOAP y traduce a JSON.
      ========================================================================
    -->
    <flow name="api-get-certificate">
        <http:listener config-ref="API_Gateway_Listener" path="/api/certificates/{certificateId}" allowedMethods="GET">
            <http:response statusCode="200">
                <http:headers><![CDATA[#[output application/java
---
{ "Content-Type": "application/json", "Access-Control-Allow-Origin": "*" }]]]></http:headers>
            </http:response>
        </http:listener>

        <set-variable variableName="certificateId" value="#[attributes.uriParams.certificateId]"/>

        <ee:transform doc:name="Build SOAP getCertificate">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/xml
ns soap http://schemas.xmlsoap.org/soap/envelope/
ns cer http://mtis.ua.es/elearning/certificates
---
{
  soap#Envelope: {
    soap#Body: {
      cer#getCertificateRequest: {
        cer#certificateId: vars.certificateId
      }
    }
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>

        <http:request method="POST"
                      path="/services/CertificateService"
                      config-ref="Gateway_Client_Cert">
            <http:headers><![CDATA[#[{
                "Content-Type": "text/xml; charset=UTF-8",
                "SOAPAction":   "http://mtis.ua.es/elearning/certificates/getCertificate"
            }]]]></http:headers>
        </http:request>

        <ee:transform doc:name="SOAP → JSON">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
ns soap http://schemas.xmlsoap.org/soap/envelope/
ns cer http://mtis.ua.es/elearning/certificates
var resp = payload.soap#Envelope.soap#Body.cer#getCertificateResponse
---
if (resp != null)
{
  certificateId:       resp.cer#certificateId as String,
  studentId:           resp.cer#studentId as String,
  courseId:            resp.cer#courseId as String,
  finalGrade:          (resp.cer#finalGrade default 0) as Number,
  completionDate:      resp.cer#completionDate as String,
  issueDate:           resp.cer#issueDate as String,
  status:              resp.cer#status as String,
  repositoryReference: resp.cer#repositoryReference as String
}
else
{
  status: "NOT_FOUND",
  certificateId: vars.certificateId
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>

    <!--
      ============================================================================
      EXPLORADOR DE SERVICIOS — Endpoints proxy genéricos
      ============================================================================
      Cada proxy reenvía la petición del frontend al servicio real sin tocar
      cuerpo ni cabeceras importantes. Añade CORS en la respuesta.
      ============================================================================
    -->

    <!-- *** MODIFICADO: UserService proxy (8081) — rutas y headers corregidos *** -->
    <flow name="api-proxy-user-service">
        <http:listener config-ref="API_Gateway_Listener" path="/api/svc/users/*" allowedMethods="GET, POST, PUT, DELETE, OPTIONS">
            <http:response statusCode="200">
                <http:headers><![CDATA[#[output application/java
---
{
  "Content-Type": "application/json",
  "Access-Control-Allow-Origin": "*",
  "Access-Control-Allow-Methods": "GET, POST, PUT, DELETE, OPTIONS",
  "Access-Control-Allow-Headers": "Content-Type, Authorization, rest_key, WSKey"
}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="500">
                <http:headers><![CDATA[#[output application/java
---
{
  "Content-Type": "application/json",
  "Access-Control-Allow-Origin": "*",
  "Access-Control-Allow-Headers": "Content-Type, Authorization, rest_key, WSKey"
}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <set-variable variableName="downstreamPath" value='#[(attributes.requestPath default "/api/svc/users") replace "/api/svc/users" with "/api/users"]'/>
        <http:request method='#[attributes.method default "GET"]' path="#[vars.downstreamPath]" config-ref="Gateway_Client_User">
            <http:headers><![CDATA[#[{
                'WSKey': attributes.headers.rest_key default "1234",
                'Content-Type': 'application/json'
            }]]]></http:headers>
            <http:response-validator><http:success-status-code-validator values="0..599"/></http:response-validator>
        </http:request>
        <error-handler>
            <on-error-continue type="ANY">
                <ee:transform><ee:message><ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{ status: "PROXY_ERROR", target: "UserService:8081", message: error.description default "?" }]]></ee:set-payload></ee:message></ee:transform>
            </on-error-continue>
        </error-handler>
    </flow>

    <flow name="api-proxy-enrollment-service">
        <http:listener config-ref="API_Gateway_Listener" path="/api/svc/enrollments/*" allowedMethods="GET, POST, PUT, DELETE, OPTIONS">
            <http:response statusCode="200">
                <http:headers><![CDATA[#[output application/java
	---
	{
	  "Content-Type": "application/json",
	  "Access-Control-Allow-Origin": "*",
	  "Access-Control-Allow-Methods": "GET,POST,PUT,DELETE,OPTIONS",
	  "Access-Control-Allow-Headers": "Content-Type, Authorization, rest_key"
	}]]]></http:headers>
            </http:response>
        </http:listener>
        <logger level="INFO" doc:name="Logger" doc:id="0cd7b7aa-58f6-4a7e-bb0b-c6f7177d4db2" message="#[attributes.headers.rest_key]"/>
		<choice doc:name="Choice" doc:id="9bf16772-9114-4e0d-b560-e313283fe246" >
			<when expression='#[attributes.queryParams.id == "enr-create"]'>
				<http:request method="POST" doc:name="Request" doc:id="a39b439b-4b22-4625-a576-6e6f6050ec0b" config-ref="Gateway_Client_Enrollment" path="/api/v1/enrollments">
					<http:headers ><![CDATA[#[output application/java
---
{
	rest_key : attributes.headers.rest_key
}]]]></http:headers>
				</http:request>
			</when>
			<when expression='#[attributes.queryParams.id == "enr-get"]'>
				<set-variable value='#[%dw 2.0&#10;output application/java&#10;---&#10;(attributes.requestPath splitBy "/")[-1]]' doc:name="Set Variable" doc:id="4a7a5611-7246-419c-ac50-5023961d9f86" variableName="uri" />
				<http:request method="GET" doc:name="Request" doc:id="0cd7a78f-aef1-411b-a47b-b6e6ef54d0fb" config-ref="Gateway_Client_Enrollment" path="/api/v1/enrollments/{enrollmentId}">
					<http:headers ><![CDATA[#[output application/java
---
{
	rest_key : attributes.headers.rest_key
}]]]></http:headers>
					<http:uri-params ><![CDATA[#[output application/java
---
{
	enrollmentId : vars.uri
}]]]></http:uri-params>
				</http:request>
			</when>
			<when expression='#[attributes.queryParams.id == "enr-delete"]'>
				<set-variable value='#[%dw 2.0&#10;output application/java&#10;---&#10;(attributes.requestPath splitBy "/")[-1]]' doc:name="Set Variable" doc:id="a1d68d2e-fb10-4218-8c53-d564045fbc6f" variableName="uri" />
				<http:request method="DELETE" doc:name="Request" doc:id="0259197e-28c0-4316-ab83-a4b6afae7c6c" config-ref="Gateway_Client_Enrollment" path="/api/v1/enrollments/{enrollmentId}">
					<http:headers ><![CDATA[#[output application/java
---
{
	rest_key : attributes.headers.rest_key
}]]]></http:headers>
					<http:uri-params ><![CDATA[#[output application/java
---
{
	enrollmentId : vars.uri
}]]]></http:uri-params>
				</http:request>
			</when>
		</choice>
        <error-handler>
            <on-error-continue type="ANY">
                <ee:transform><ee:message><ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{ status: "PROXY_ERROR", target: "EnrollmentService:8083", message: error.description default "?" }]]></ee:set-payload></ee:message></ee:transform>
            </on-error-continue>
        </error-handler>
    </flow>

    <flow name="api-proxy-evaluation-service">
        <http:listener config-ref="API_Gateway_Listener" path="/api/svc/evaluations/*" allowedMethods="GET, POST, PUT, DELETE">
            <http:response statusCode="200">
                <http:headers><![CDATA[#[output application/java
---
{ "Content-Type": "application/json", "Access-Control-Allow-Origin": "*" }]]]></http:headers>
            </http:response>
        </http:listener>
        <set-variable variableName="downstreamPath" value='#[(attributes.requestPath default "/api/svc/evaluations") replace "/api/svc/evaluations" with "/api/v1/evaluations"]'/>
        <http:request method='#[attributes.method default "GET"]' path="#[vars.downstreamPath]" config-ref="Gateway_Client_Evaluation">
            <http:response-validator><http:success-status-code-validator values="0..599"/></http:response-validator>
        </http:request>
        <error-handler>
            <on-error-continue type="ANY">
                <ee:transform><ee:message><ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{ status: "PROXY_ERROR", target: "EvaluationService:8084", message: error.description default "?" }]]></ee:set-payload></ee:message></ee:transform>
            </on-error-continue>
        </error-handler>
    </flow>

    <!-- *** MODIFICADO: EmailNotificationService proxy (8085) — rutas y CORS corregidos *** -->
    <flow name="api-proxy-email-service">
        <http:listener config-ref="API_Gateway_Listener" path="/api/svc/notifications/*" allowedMethods="GET, POST, PUT, DELETE, OPTIONS">
            <http:response statusCode="200">
                <http:headers><![CDATA[#[output application/java
---
{
  "Content-Type": "application/json",
  "Access-Control-Allow-Origin": "*",
  "Access-Control-Allow-Methods": "GET, POST, PUT, DELETE, OPTIONS",
  "Access-Control-Allow-Headers": "Content-Type, Authorization, rest_key, WSKey"
}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="500">
                <http:headers><![CDATA[#[output application/java
---
{
  "Content-Type": "application/json",
  "Access-Control-Allow-Origin": "*",
  "Access-Control-Allow-Headers": "Content-Type, Authorization, rest_key, WSKey"
}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <set-variable variableName="downstreamPath" value='#[(attributes.requestPath default "/api/svc/notifications") replace "/api/svc/notifications" with "/api/notifications"]'/>
        <http:request method='#[attributes.method default "POST"]' path="#[vars.downstreamPath]" config-ref="Gateway_Client_Email">
            <http:headers><![CDATA[#[{ 'Content-Type': 'application/json' }]]]></http:headers>
            <http:response-validator><http:success-status-code-validator values="0..599"/></http:response-validator>
        </http:request>
        <error-handler>
            <on-error-continue type="ANY">
                <ee:transform><ee:message><ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{ status: "PROXY_ERROR", target: "EmailNotification:8085", message: error.description default "?" }]]></ee:set-payload></ee:message></ee:transform>
            </on-error-continue>
        </error-handler>
    </flow>

    <!-- FinancialGatewayService (8086): CORS + reenvío rest_key (cabecera → query) -->
    <flow name="api-proxy-payment-service">
        <http:listener config-ref="API_Gateway_Listener" path="/api/svc/payments/*" allowedMethods="GET, POST, PUT, DELETE, OPTIONS">
            <http:response statusCode="200">
                <http:headers><![CDATA[#[output application/java
---
{
  "Content-Type": "application/json",
  "Access-Control-Allow-Origin": "*",
  "Access-Control-Allow-Methods": "GET, POST, PUT, DELETE, OPTIONS",
  "Access-Control-Allow-Headers": "Content-Type, Authorization, rest_key, WSKey"
}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="500">
                <http:headers><![CDATA[#[output application/java
---
{
  "Content-Type": "application/json",
  "Access-Control-Allow-Origin": "*",
  "Access-Control-Allow-Headers": "Content-Type, Authorization, rest_key, WSKey"
}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <set-variable variableName="downstreamPath" value='#[(attributes.requestPath default "/api/svc/payments") replace "/api/svc/payments" with "/api/payments"]'/>
        <http:request method='#[attributes.method default "POST"]' path="#[vars.downstreamPath]" config-ref="Gateway_Client_Payment">
            <http:headers><![CDATA[#[{ 'Content-Type': 'application/json' }]]]></http:headers>
            <http:query-params><![CDATA[#[%dw 2.0
output application/java
var qp = attributes.queryParams default {}
---
qp ++ {
  rest_key: (attributes.headers.rest_key default qp.rest_key default "1234") as String
}]]]></http:query-params>
            <http:response-validator><http:success-status-code-validator values="0..599"/></http:response-validator>
        </http:request>
        <error-handler>
            <on-error-continue type="ANY">
                <ee:transform><ee:message><ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{ status: "PROXY_ERROR", target: "FinancialGateway:8086", message: error.description default "?" }]]></ee:set-payload></ee:message></ee:transform>
            </on-error-continue>
        </error-handler>
    </flow>

	    <flow name="api-proxy-course-service">
	        <http:listener config-ref="API_Gateway_Listener" path="/api/svc/courses/*" allowedMethods="GET, POST, PUT, DELETE, OPTIONS">
	            <http:response statusCode="200">
	                <http:headers><![CDATA[#[output application/java
	---
	{
	  "Content-Type": "application/json",
	  "Access-Control-Allow-Origin": "*",
	  "Access-Control-Allow-Methods": "GET,POST,PUT,DELETE,OPTIONS",
	  "Access-Control-Allow-Headers": "Content-Type, Authorization, rest_key"
	}]]]></http:headers>
	            </http:response>
	        </http:listener>
			<logger level="INFO" doc:name="Logger" doc:id="7b8b121d-1da5-429d-baf2-c0297ed8e1a2" message="#[attributes]" />
			<logger level="INFO" doc:name="Logger" doc:id="40651039-0c06-4594-8929-979b610ba13e" message="#[attributes.headers.rest_key]"/>
			<choice doc:name="Choice" doc:id="d3fe1a11-d5b2-4ab5-8c3f-673fafdf3b85" >
				<when expression='#[attributes.queryParams.id == "course-list"]'>
					<http:request method="GET" doc:name="Request" doc:id="9fe4957b-120f-4445-a377-2133dba97f7e" config-ref="Gateway_Client_Course" path="/api/v1/courses">
						<http:headers ><![CDATA[#[output application/java
	---
	{
		"rest_key" : attributes.headers.rest_key
	}]]]></http:headers>
					</http:request>
				</when>
				<when expression='#[attributes.queryParams.id == "course-get"]'>
					<set-variable value='#[%dw 2.0&#10;output application/java&#10;---&#10;(attributes.requestPath splitBy "/")[-1]]' doc:name="Set Variable" doc:id="6e0cdc01-ec96-442e-9dfa-06ea424df16d" variableName="uri"/>
					<http:request method="GET" doc:name="Request" doc:id="cfb9a67a-ba82-4e9b-9a24-ee6873a4b921" config-ref="Gateway_Client_Course" path="/api/v1/courses/{courseId}">
						<http:headers ><![CDATA[#[output application/java
	---
	{
		rest_key : attributes.headers.rest_key
	}]]]></http:headers>
						<http:uri-params ><![CDATA[#[output application/java
	---
	{
		"courseId" : vars.uri
	}]]]></http:uri-params>
					</http:request>
				</when>
				<when expression='#[attributes.queryParams.id == "course-create"]'>
					<http:request method="POST" doc:name="Request" doc:id="0b64b1f4-b09e-46e8-983e-5ae43dc7e74e" config-ref="Gateway_Client_Course" path="/api/v1/courses">
						<http:headers ><![CDATA[#[output application/java
	---
	{
		rest_key : attributes.headers.rest_key
	}]]]></http:headers>
					</http:request>
				</when>
				<when expression='#[attributes.queryParams.id == "course-update"]'>
					<set-variable value='#[%dw 2.0&#10;output application/java&#10;---&#10;(attributes.requestPath splitBy "/")[-1]]' doc:name="Set Variable" doc:id="c5e17cd4-b744-4827-b2e3-7fbb8185d045" variableName="uri" />
					<http:request method="PUT" doc:name="Request" doc:id="7102ac01-8db6-4b7b-a012-0f3d752cefe9" config-ref="Gateway_Client_Course" path="/api/v1/courses/{courseId}">
						<http:headers ><![CDATA[#[output application/java
	---
	{
		rest_key : attributes.headers.rest_key,
		"Content-Type" : "application/json"
	}]]]></http:headers>
						<http:uri-params ><![CDATA[#[output application/java
	---
	{
		courseId : vars.uri
	}]]]></http:uri-params>
					</http:request>
				</when>
				<when expression='#[attributes.queryParams.id == "course-delete"]'>
					<set-variable value='#[%dw 2.0&#10;output application/java&#10;---&#10;(attributes.requestPath splitBy "/")[-1]]' doc:name="Set Variable" doc:id="9ee1cba5-5975-484a-bb4a-49369d846372" variableName="uri" />
					<http:request method="DELETE" doc:name="Request" doc:id="0feea437-10ba-4917-b5fc-244fba919342" config-ref="Gateway_Client_Course" path="/api/v1/courses/{courseId}">
						<http:headers ><![CDATA[#[output application/java
	---
	{
		rest_key : attributes.headers.rest_key
	}]]]></http:headers>
						<http:uri-params ><![CDATA[#[output application/java
	---
	{
		courseId : vars.uri
	}]]]></http:uri-params>
					</http:request>
				</when>
			<otherwise >
				<http:request method="POST" doc:name="Request" doc:id="89334c70-a763-4e60-b0f3-6a9a97574e11" config-ref="Gateway_Client_Course" path="/api/v1/courses/sync">
					<http:headers ><![CDATA[#[output application/java
---
{
	rest_key : attributes.queryParams.rest_key
}]]]></http:headers>
				</http:request>
			</otherwise>
			</choice>
	        <error-handler>
	            <on-error-continue type="ANY">
	                <ee:transform><ee:message><ee:set-payload><![CDATA[%dw 2.0
	output application/json
	---
	{ status: "PROXY_ERROR", target: "CourseService:8082", message: error.description default "?" }]]></ee:set-payload></ee:message></ee:transform>
	            </on-error-continue>
	        </error-handler>
	    </flow>

    <!-- *** AÑADIDO: ServicioProcesoGestionUsuarios proxy (8090) *** -->
    <flow name="api-proxy-user-process">
        <http:listener config-ref="API_Gateway_Listener" path="/api/svc/user-process/*" allowedMethods="GET, POST, PUT, DELETE, OPTIONS">
            <http:response statusCode="200">
                <http:headers><![CDATA[#[output application/java
---
{
  "Content-Type": "application/json",
  "Access-Control-Allow-Origin": "*",
  "Access-Control-Allow-Methods": "GET, POST, PUT, DELETE, OPTIONS",
  "Access-Control-Allow-Headers": "Content-Type, Authorization, rest_key, WSKey"
}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="500">
                <http:headers><![CDATA[#[output application/java
---
{
  "Content-Type": "application/json",
  "Access-Control-Allow-Origin": "*",
  "Access-Control-Allow-Headers": "Content-Type, Authorization, rest_key, WSKey"
}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <set-variable variableName="downstreamPath" value='#[(attributes.requestPath default "/api/svc/user-process") replace "/api/svc/user-process" with "/proceso"]'/>
        <http:request method='#[attributes.method default "POST"]' path="#[vars.downstreamPath]" config-ref="Gateway_Client_UserProcess">
            <http:headers><![CDATA[#[{
                'WSKey': attributes.headers.rest_key default "1234",
                'Content-Type': 'application/json'
            }]]]></http:headers>
            <http:response-validator><http:success-status-code-validator values="0..599"/></http:response-validator>
        </http:request>
        <error-handler>
            <on-error-continue type="ANY">
                <ee:transform><ee:message><ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{ status: "PROXY_ERROR", target: "UserProcess:8090", message: error.description default "?" }]]></ee:set-payload></ee:message></ee:transform>
            </on-error-continue>
        </error-handler>
    </flow>
	<flow name="dev-bundleFlow">

    <http:listener
        config-ref="API_Gateway_Listener"
        path="/api/courses/sync"
        allowedMethods="GET,POST,PUT,DELETE,OPTIONS">

        <!-- CORS global correcto -->
        <http:response statusCode="200">
            <http:headers><![CDATA[#[output application/java
---
{
  "Content-Type": "application/json",
  "Access-Control-Allow-Origin": "*",
  "Access-Control-Allow-Methods": "GET,POST,PUT,DELETE,OPTIONS",
  "Access-Control-Allow-Headers": "Content-Type, Authorization, rest_key"
}]]]></http:headers>
        </http:response>

    </http:listener>

    <!-- LOGS -->
    <logger level="INFO" message="HEADERS: #[attributes.headers]"/>
    <logger level="INFO" message="PAYLOAD: #[payload]"/>

    <!-- FIX CRÍTICO: asegurar JSON -->
    <ee:transform>
        <ee:message>
            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
        </ee:message>
    </ee:transform>

    <!-- PROXY CALL CORREGIDO -->
    <http:request
        method="POST"
        config-ref="Gateway_Client_Course"
        path="/api/v1/courses/sync">

        <http:headers><![CDATA[#[output application/java
---
{
    rest_key: attributes.headers.rest_key,
    "Content-Type": "application/json",
    "Accept": "application/json"
}]]]></http:headers>

    </http:request>

    <!-- ERROR HANDLER LIMPIO -->
    <error-handler>
        <on-error-continue type="ANY">
            <ee:transform>
                <ee:message>
                    <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    status: "PROXY_ERROR",
    message: error.description default "unknown error"
}]]></ee:set-payload>
                </ee:message>
            </ee:transform>
        </on-error-continue>
    </error-handler>

</flow>

</mule>